* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0%;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url(/public/images/old-church2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.black-cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.495);
}

.home-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: Raleway;
  color: White;
  h1 {
    font-size: 4rem;
    animation: slideInFromRight 3s ease forwards;
  }
  p {
    animation: slideInFromLeft 3s ease forwards;
  }
  img {
    width: 8rem;
    aspect-ratio: 4/4;
    animation: slideInFromLeft 3s ease forwards;
  }
}

.black-cover .home-details {
  font-family: Raleway;
  color: White;
  h1 {
    font-size: 4rem;
    animation: slideInFromRight 3s ease forwards;
  }
  p {
    animation: slideInFromLeft 3s ease forwards;
  }
  img {
    width: 8rem;
    aspect-ratio: 4/4;
    animation: slideInFromLeft 3s ease forwards;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  height: fit-content;
  padding: 3rem;
  background-color: #ffffff;
}

.welcome-details {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  font-family: Raleway;
  color: rgb(18, 60, 175);
  h1 {
    font-size: 4rem;
    animation: slideInFromRight 3s ease forwards;
  }
  p {
    animation: slideInFromLeft 3s ease forwards;
  }
  img {
    width: 8rem;
    aspect-ratio: 4/4;
    animation: slideInFromLeft 3s ease forwards;
  }
}

.intro {
  font: 100;
  font-family: Ubuntu;
  font-size: 1rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  display: flex;
  margin: 0 auto;
  width: fit-content;
  border-radius: 1rem;
  background-color: rgb(18, 60, 175);
  color: #ffffff;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.divider {
  width: 1px;

  height: 120px;
  background-color: blue;
}

.service-block {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  gap: 3rem;
  border-radius: 1rem;
  padding: 1rem;
  background-color: #ffffff;
  font-family: Ubuntu;
  color: rgb(18, 60, 175);
  animation: slideInFromLeft 3s ease forwards;
}

.service-periods {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  align-items: left;

  padding: 2rem;
}

.know-more {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-family: Ubuntu;
  gap: 1rem;

  .button {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    padding: 0.5em 1rem;
    border-radius: 1rem;
    background-color: rgb(18, 60, 175);

    &:hover {
      scale: 0.9;
      transition: all 0.3s ease;
    }
  }
}

.sort {
  max-width: 768px;
  text-align: center;
  margin-top: 1rem;
}

.service-block-2 {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  gap: 2rem;
  border-radius: 1rem;
  padding: 1rem;
  background-color: #ffffff;
  font-family: Ubuntu;
  color: rgb(18, 60, 175);
  animation: slideInFromLeft 3s ease forwards;
}

.clash {
  max-width: 200px;
}

.video-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.video-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  gap: 2rem;
  border-radius: 1rem;
  padding: 1rem;
  width: 100%;
  aspect-ratio: 14/7;
  background-color: #ffffff;
  font-family: Ubuntu;
  color: rgb(18, 60, 175);
  animation: slideInFromLeft 3s ease forwards;

  img {
    border-radius: 0.5rem;
    width: 100%;
    aspect-ratio: 16/9;
  }
  .video-title {
    max-width: 400px;
  }

  a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-family: Ubuntu;
    gap: 0.5rem;
    font-weight: bold;
    color: white;
    background-color: rgb(18, 60, 175);
    border-radius: 1rem;
  }
}
.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  gap: 2rem;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 1rem;

  width: 100%;
  height: auto;
  background-color: #ffffff;
  font-family: Ubuntu;
  color: rgb(0, 0, 0);
  animation: slideInFromLeft 3s ease forwards;

  .circle {
    width: 3rem;
    height: 3rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 50%;
    background-color: rgb(18, 60, 175);
  }
}
